:root {
    --verde: #455d43;
    --olivia: #667d41;
    --laranja: #f27a21;
    --terra: #b43f1d;
    --branco: #fff;
    --cinza: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Georgia, 'Times New Roman', Times, serif;

    text-decoration: none;
    border: none;
    outline: none;

    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: var(--cinza);
    overflow-x: hidden;
}

/* HEADER */

header {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    z-index: 1000;

    padding: 2rem 5%;

    display: flex;
    align-items: center;

    background: var(--olivia);

    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .1);
}

.logo {
    font-size: 3rem;
    font-weight: bold;

    color: var(--branco);
}

/* NAV */

nav {
    position: fixed;
    top: 9rem;
    left: 2rem;
    width: 25rem;
    height: calc(100vh - 11rem);
    overflow-y: auto;
    background: #b43f1d;
    border-radius: 2rem;
    padding: 2.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FOTO */

.foto-perfil {
    position: relative;
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    overflow: hidden;
    background: var(--olivia);
    border: .3rem solid var(--branco);
    cursor: pointer;
}

.foto-perfil::before {
    content: "+";
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    background: rgba(0,0,0,.3);
    transition: .2s;
}

.foto-perfil.com-foto::before {
    opacity: 0;
    pointer-events: none;
}

.foto-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

#input-foto {
    display: none;
}


nav hr {
    width: 100%;
    height: .1rem;
    background: rgba(255, 255, 255, .2);
    margin: 2rem 0;
}

nav a {
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--branco);
    border-radius: 1rem;
    margin-top: 1rem;
}

nav a:hover {
    background: rgba(255, 255, 255, .1);
}

nav span {
    margin-right: 14rem;
    font-size: 1.2rem;
    color: #ddd;
}

/* MAIN */

main {
    margin-left: 31rem;
    margin-top: 10rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/* SECTIONS */

.perfil-container,
.favoritos-container,
.pedido-container {
    background: var(--branco);
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .08);
}

section h1 {
    font-size: 3rem;
    color: var(--verde);
    margin-bottom: 3rem;
}

/* CAMPOS */

.campo {
    margin-bottom: 2rem;
}

section h2 {
    font-size: 1.8rem;
    color: var(--verde);
    margin-bottom: .8rem;
}

.campo p {
    font-size: 1.6rem;
    color: #444;
}

/* INPUTS */

.campo input {
    width: 100%;
    background: transparent;
    font-size: 1.6rem;
    color: #444;
}

.campo input:disabled {
    cursor: default;
}

/* PERFIL */

.perfil-container .campo {
    background: var(--cinza);
    padding: 1.5rem;
    border-radius: 1rem;
}

.perfil-container button {
    margin-top: 2rem;
    padding: 1.3rem 2rem;
    background: var(--laranja);
    color: var(--branco);
    border-radius: 1rem;
    font-size: 1.6rem;
    cursor: pointer;
}

.perfil-container button:hover {
    background: var(--terra);
}


/* PEDIDOS */

.pedido-container .campo {
    background: var(--cinza);
    border-radius: 1.5rem;
    padding: 2rem;
}

.status h2 {
    font-size: 2rem;
    color: var(--olivia);
}

.linhap hr {
    height: .1rem;
    background: #ccc;
    margin: 1.5rem 0;
}

.pedido {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.pedido img {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 1rem;
}

.texto {
    margin-left: auto;
}

.texto p {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

/* RESPONSIVO */

@media (max-width: 900px) {

    nav {
        position: relative;
        top: 9rem;
        left: 0;
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    main {
        margin-left: 0;
        margin-top: 12rem;
        padding: 2rem;
    }

    .perfil-container,
    .favoritos-container,
    .pedido-container {
        padding: 2rem;
    }

    .pedido {
        flex-direction: column;
        align-items: flex-start;
    }

    .texto {
        margin-left: 0;
    }

    .produtos img {
        height: 18rem;
    }
}
