:root {
    --verde: #455d43;
    --olivia: #667d41;
    --laranja: #f27a21;
    --terra: #b43f1d;
    --cobalto: #2a3691;
    --azul: #4d61d4;
    --branco: #fff;
    --preto: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;


}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

/*Menu simples login/cadastro para voltar ao home */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    background-color: #667d41;
}

header .logo {
    font-size: 3rem;
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
}

header #toggler {
    display: none;
}

body {
    display: flex;
    background: #f5f5f5;
}

/* Menu lateral */
nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 75px;
    left: 0;
    width: 260px;
    height: calc(100vh - 90px);
    background: #b43f1d;
    border-bottom-left-radius: 50px;
}

nav img {
    width: 145px;
    border-radius: 80px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}

nav hr {
    border: 1px solid #fff;
    width: 90%;
    margin: 15px auto;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 35px;
    margin-top: 15px;
    font-size: 1.8rem;
}

nav a:hover {
    color: #000;
    transition: 0, 3s;
}

span {
    margin-left: 35px;
    font-size: 1.3rem;
    color: #ccc;
}

/* Comeco Perfil */
main {
    margin-top: 85px;
    margin-left: 260px;
    width: 100%;
}

.perfil-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    min-height: 80vh;
}

.perfil-container h1 {
    margin-left: 115px;
    margin-top: 45px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #f27a21;
}

.perfil-container h2 {
    margin-left: 120px;
    font-size: 1.5rem;
}

.campo {
    background: #ede9e9;
    padding: 10px;
    border-radius: 15px;
    margin-left: 120px;
    margin-bottom: 15px;
    width: 35%;

}

.campo p {
    font-size: 1.3rem;
}

.perfil-container button {
    background-color: #ccc;
    width: 200px;
    margin-left: 120px;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.6rem;
    cursor: pointer;
}


.perfil-container button:hover {
    background: #b43f1d;
    color: #fff;
}


main hr {
    border: 1px solid #f27a21;
    width: 90%;
    margin: 45px auto;

}

/* Comeco do Favoritos*/
.favoritos-container {
    width: 100%;
}

.favoritos-container .campo {
    display: flex;
    gap: 20px;
    padding: 0 115px;
    align-items: flex-start;
    background-color: #f5f5f5;
    margin: 0;
}

.favoritos-container h1 {
    margin-left: 115px;
    margin-top: 45px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #f27a21;
}

.produtos {
    background: #fff;
    width: 200px;
    padding: 15px;
    border-radius: 20px;
    height: 55vh;
    flex: none;
}

.produtos img {
    width: 100%;
    border-radius: 15px;
}

.produtos p {
    font-size: 1.4rem;
    margin-top: 10px;
}

.acoes {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.acoes button {
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.6rem;
    border: none;
}

.acoes button:hover {
    background: #f27a21;
}

.acoes button:hover i {
    color: #fff;
}

.favorito i {
    color: #b43f1d;
}
